.page-wrapper {
    color: black;
    position: relative;
    top: 100px;
    width: 800px;
    height: 400px;
    text-align: center;
    margin: auto;
    margin: auto

    
}

body {
    background-color: black;
}
    

.headline{
    color: white;
    text-align: center;
    padding-top: 20px;
}

.element-center{
    background-color: white;
    height: 400px;
    width: 800px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    color: black;
    text-align: center;
}

.element-top-left{
    top: 0px;
    left: 0px;
    position:absolute
    
}

.element-top-right{
    top: 0px;
    right: 0px;
    position:absolute
    
}

.element-bottom-left{
    bottom: 0px;
    left: 0px;
    position:absolute
    
}

.element-bottom-right{
    bottom: 0px;
    right: 0px;
    position:absolute
}     